<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902429078369-qjhcf3t4m3k167o7cmnkhgcdt2edrjep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902429078369-qjhcf3t4m3k167o7cmnkhgcdt2edrjep</string>
	<key>API_KEY</key>
	<string>AIzaSyDuoDczouyaDkfPQRJtOrXGFvB24m-XdvY</string>
	<key>GCM_SENDER_ID</key>
	<string>902429078369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.goomy.mediaapp</string>
	<key>PROJECT_ID</key>
	<string>goomy-technology</string>
	<key>STORAGE_BUCKET</key>
	<string>goomy-technology.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902429078369:ios:aac3e554660f0ad0cf4b20</string>
</dict>
</plist>